/*!
 * Polos v0.0.1 (https://wsw.biz.id/)
 * Copyright 2025 Polos Style
 * Unlicensed
 */
/*!
 * Grid System
 */
@import "grid.min.css";
/*!
 * Halaman
 */
.lmn {
  margin:0 auto;
  background-clip:border-box;
  box-shadow:2px 6px 15px 0 rgba(69,65,78,.1)
}
.lmn-hd{
  padding:.75rem 1.25rem;
  background-color:transparent;
  border-bottom:1px solid rgba(0,0,0,.125);
  align-items:center
}

/*!
 * Ratakan (Awal,Tengah,Akhir,Antara)
 * https://www.w3schools.com/cssref/css3_pr_align-items.php
 * https://www.w3schools.com/cssref/css3_pr_justify-content.php
 */
.rt-awl {
  display:flex;
  justify-content:flex-start;
}
.rt-tga {
  display:flex;
  justify-content:center;
}
.rt-akr {
  display:flex;
  justify-content:flex-end;
}
.rt-ata {
  display:flex;
  justify-content:space-between;
}
.lmn-bd{
  padding:.75rem 1.25rem
}
.lmn-ft{
  padding:.75rem 1.25rem;
  background-color:transparent;
  border-top:1px solid rgba(0,0,0,.125)
}
/*!
 * pl-box
 * Demo : https://codepen.io/alicom13/pen/EaadRWd
 */
.pl-box{
	display:flex;
	flex-wrap: wrap;
	gap:.75em;
}
.bx-itm{
	padding:.75em;
	min-width:5rem;
	min-height:5rem;
	border:1px solid #f1f1f1;
	border-radius:.5em;
	/*0.5px = 0.031*/
	box-shadow:0.031em 0.031em;
}

/*!
 * Huruf (Ukuran Huruf)
 */
p {
	font-size:clamp(16px, 5vw, 18px);
	line-height:1.5
}
.h1,h1 {
  font-size:clamp(19px, 5vw, 32px);
  line-height:1.2
}
.h2,h2{
	font-size:clamp(18px, 5vw, 28px);
	line-height:1.2
}
.h3,h3{
	font-size:clamp(16px, 5vw, 26px);
	line-height:1.3
}
.h4,h4,
.h5,h5,
.h6,h6{
	font-size:clamp(15px, 5vw, 24px);
	line-height:1.3
}
/*!
 * Warna
 */
.biru1{
	color:#003ec4;
}
.biru2{
	color:#003ece;
}

/*!
 * sembunyi-sembunyi (display:none)
 */
.s-sl{}
.s-sm{}
.s-ss{}

/*!
 * terang-terangan (display:block)
 */
.t-tl{}
.t-tm{}
.t-ts{}

/*!
 * HP
 */
@media (min-width: 0) and (max-width: 575.98px) {
	// class
}
